.App {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.btn{
  background:green;
  padding: 7px 10px;
  border: 1px solid green;
  color: white;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

label {
  font-weight: bold;
  display: flex;
  margin-bottom: 5px;
}
input[type="email"],
input[type="password"] {
  display: block;
  width: 400px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: aliceblue;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.form-control{
  margin-bottom: 20px;
}
.error{
  color: red;
}